.Wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    max-width: var(--w-m);
}

.Wrapper--s {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: var(--w-s);
}